
<launch>
 <!-- 开启机器人底层相关节点  -->
 <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch" />
 <!-- turn on lidar开启思岚雷达  -->
 <include file="$(find rplidar_ros)/launch/rplidar.launch" />

 <!-- 设置需要用于导航的地图  -->
 <arg name="map_file" default="$(find turn_on_wheeltec_robot)/map/WHEELTEC.yaml"/>
 <node name="map_server_for_test" pkg="map_server" type="map_server" args="$(arg map_file)">
 </node>

 <!-- 开启用于导航的自适应蒙特卡洛定位amcl_omni  运动方式是omni-->
 <include file="$(find turn_on_wheeltec_robot)/launch/include/amcl_omni.launch" />
 <!-- 开启tel_local_planner导航算法-一般用于全向移动阿克曼等车-->
 <include file="$(find turn_on_wheeltec_robot)/launch/include/tel_local_planner.launch" />

 <!-- MarkerArray功能节点> -->
 <node name='send_mark' pkg="turn_on_wheeltec_robot" type="send_mark.py">
 </node>

</launch>




