<launch>
  <!-- 开启激光雷达跟随以及pid计算节点  -->
  <include file='$(find simple_follower)/launch/nodes/laserTracker.launch' />
  <include file='$(find simple_follower)/launch/nodes/laserfollow.launch' />
  <!-- 开启机器人底层相关节点  -->
  <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch" />
  <!-- turn on lidar开启思岚雷达  -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
</launch>
